/*colour values*/

/* 
    For more information about our colour guidelines go to;
    https://projects.invisionapp.com/dsm/the-woodland-trust/design-system/folder/colors/5bbf180145dcfa0011931767 
*/

/*Core Palette*/
$color-text: #002419;
$color-dark-text: #04443c;
$color-dark-background: #04443c;
$color-labels-reference: #167F5F;
$color-accent-highlight-decor: #0DA459;
$color-inactive-text: #757575;
$color-light-background: #f4f7f5;
$color-seperators-dividers: #002419;
$color-white-space: #ffffff;
$color-light-text: #ffffff;

/*Secondary Palette*/
$color-primary-action-colour: #FFCB05;
$color-primary-action-background: #00023f;
$color-secondary-action-background: #003b61;
$color-stats-facts-data: #942b91;

/*Emotive Palette*/
$color-joy-happiness: #f9f06c;
$color-optimism-positity: #cbf554;
$color-energetic-active: #ffcb05;
$color-calm-tranquility: #8cd3d8;
$color-intrigue-fascination: #9fa1ff;
$color-love-care: #fd8aa1;
$color-passion-intensity: #d2232a;
$color-despair-deprivation: #5e6131;
$color-fear-negativity: #002419;

/*Default Palette*/
$color-default-link: #0d6eb7;
$color-warning-error: #d2232a;

/*Buttons and Links*/
$btn-action-bg: #FFCB05;
$btn-action-hover-bg: #FFFFFF;
//$btn-outline-hover-bg: rgba(30,200,116,0.15);
$btn-outline-hover-bg: #99EAC2;
$underline-link-hover-bg: #99EAC2;


$wt-green: #167F5F;