.bulleted-list {
    list-style: none;
    padding-left: 25px;

    li {
        //this will affect both levels of li.
        list-style: none;
    }

    > li {
        //this will only affect the first level.
        @include font-paragraph-small-devices-paragraph-text;
        margin-bottom: 12px;

        @include media-breakpoint-up(md) {
            @include font-paragraph-xl-devices-paragraph-text;
            margin-bottom: 16px;
        }

        &:before {
            content: '';
            background-image: url('../../images/bullet.svg');
            background-size: 0.4rem 0.4rem;
            background-repeat: no-repeat;
            display: inline-block;
            width: 0.5rem;
            height: 0.5rem;
            margin-left: -25px;
            margin-right: 0rem;
            padding-bottom: 6px;
            padding-right: 25px;
            margin-bottom: 2px;
        }

        > ul > li {
            //this will only affect the second level.
            margin-top: 16px;

            &:before {
                content: '';
                background-image: url('../../images/bullet-nested.svg');
                background-size: 0.4rem 0.4rem;
                background-repeat: no-repeat;
                display: inline-block;
                width: 0.5rem;
                height: 0.5rem;
                margin-left: -25px;
                margin-right: 0rem;
                padding-bottom: 6px;
                padding-right: 25px;
                margin-bottom: 2px;
            }
        }
    }
}

    .numbered-list {
        list-style: none;
        counter-reset: circle-counter;

        li {
            counter-increment: circle-counter;
            display: block;
            margin-bottom: 12px;

            @include font-paragraph-small-devices-paragraph-text;

            @include media-breakpoint-up(md) {
                @include font-paragraph-xl-devices-paragraph-text;
                margin-bottom: 16px;
            }

            &:before {
                content: counter(circle-counter);
                background-color: $color-labels-reference;
                width: 1.5rem;
                height: 1.5rem;
                border-radius: 50%;
                display: inline-block;
                color: $color-white-space;
                text-align: center;
                margin-right: 16px;
                position: relative;
                top: -2px;
                margin-top: 5px;
                margin-bottom: -3px;
                margin-left: -2.5rem;
                font-size: 16px;
                line-height: 24px;
                font-family: $font-family-andesbold;
            }
        }
    }

    .numbered-list-sub-heading {
        list-style: none;
        counter-reset: circle-counter;

        li {
            counter-increment: circle-counter;
            margin-bottom: 12px;
            @include font-sub-heading-small-devices-l-sub-heading;
            font-family: $font-family-andesbold;

            @include media-breakpoint-up(md) {
                @include font-sub-heading-xl-devices-l-sub-heading;
                margin-bottom: 16px;
            }

            &:before {
                @include font-paragraph-xl-devices-paragraph-text;
                content: counter(circle-counter);
                background-color: $color-labels-reference;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                display: inline-block;
                color: $color-white-space;
                text-align: center;
                margin-right: 10px;
                position: relative;
                top: -2px;
                margin-top: 5px;
                margin-bottom: -3px;
                margin-left: -2.5rem;
                font-size: 18px;
                font-weight: 600;
                line-height: 1.9rem;
                font-family: $font-family-andesbold;
            }
        }
    }
