.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border: 0;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  line-height: 1;
}
.storybook-button--primary {
  color: white;
  background-color: #1ea7fd;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}





/*Action Button*/

.btn--action {
    font-size: 2em;
    line-height: 1.5rem;
    text-align: left;
    font-style: normal;

    /*font-family: "AndesBold";*/
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    border: none;
    border-radius: 2px;
    padding: 10px 25px;
    color: #002419;
    background: #ffcb05 50%;
    border: 3px solid #ffcb05;
    background-size: 100%;
    font-size: 18px;
    position: relative;
    line-height: 28px;
    max-width: 100%;
    text-align: center;
    white-space: normal;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn--action.sm {
    font-size: 1em;
    line-height: 1.5rem;
    text-align: left;
    font-style: normal;

    /*font-family: "AndesBold";*/
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    border: none;
    padding: 10px 16px;
    margin: 4px;
    border: 3px solid #ffcb05;
}


.btn--action:active {
    color: #002419;
    background-color: #fff;
    border: 3px solid #ffcb05;
    border-radius: 2px;
    background: radial-gradient(circle,#ffcb05 10%,#fff 1%) 50% no-repeat;
    background-size: 1020%;
    transition: all .2s ease-in;
    box-shadow: none;
    outline: none;
}

.btn--action:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media (min-width: 992px) {
    .btn--action:not(.sm) {
        font-size: 1.125em;
        line-height: 1.375rem;
        text-align: left;
        font-style: normal;

        /*font-family: "AndesBold";*/
        font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        
        padding: 15px 25px;
    }
}

.btn--action:hover {
    background-color: #fff;
    box-shadow: none;
    color: #002419;
    text-decoration: none;
}





.btn--outline {
    font-size: 1em;
    line-height: 1.5rem;
    text-align: left;
    font-style: normal;

    /*font-family: "AndesBold";*/
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    border: none;
    border-radius: 2px;
    padding: 10px 25px;
    color: #002419;
    border: 3px solid #0da459;
    background: #fff 50%;
    background-size: 100%;
    font-size: 18px;
    line-height: 28px;
    max-width: 100%;
    text-align: center;
    position: relative;
    white-space: normal;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn--outline.sm {
    font-size: 1em;
    line-height: 1.5rem;
    text-align: left;
    font-style: normal;

    /*font-family: "AndesBold";*/
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

    border: none;
    border-radius: 2px;
    padding: 6px 16px;
    margin: 4px;
    color: #002419;
    border: 3px solid #0da459;
    background: #fff 50%;
    background-size: 100%;
}

.btn--outline:active {
    color: inherit;
    background-color: #99eac2;
    background: radial-gradient(circle,rgba(255,255,255,.6) 10%,#99eac2 1%) 50% no-repeat;
    background-size: 1020%;
    transition: all .2s ease-in;
    box-shadow: none;
    outline: none;
}



.btn--outline:not(:disabled):not(.disabled) {
    cursor: pointer;
}

@media (min-width: 992px) {
    .btn--outline:not(.sm) {
        font-size: 1.125em;
        line-height: 1.375rem;
        text-align: left;
        font-style: normal;

        /*font-family: "AndesBold";*/
        font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        
        padding: 15px 30px;
    }
}

.btn--outline:hover {
    background-color: #99eac2;
}