
.alternator-row {

    @include m-spacing(padding-bottom);

    &:last-child {
        //background-color: red;
    }

    img {
        width: 100%;
    }

    &__skeletal-screen {
        background-color: $color-lazy-background;
        overflow: hidden;
        min-height: calc((((100vw - 30px) / 16) * 9) - 11px);

        @include media-breakpoint-up(sm) {
            min-height: 285px;
        }

        @include media-breakpoint-up(md) {
            min-height: 257px;
        }

        @include media-breakpoint-up(lg) {
            min-height: 304px;
        }

        @include media-breakpoint-up(xl) {
            min-height: 363px;
        }
    }


    &__cols {
        @extend .col-md-8;
        @extend .col-lg-7;
        padding: 0;

        &__img-credit {
            @include sc-spacing(padding-top);
            @include font-labels-reference-small-print;
            text-align: center;


            @include media-breakpoint-up(md) {
                text-align: left;
                margin-right: 52%;
                margin-left: 0;
            }

            @include media-breakpoint-up(lg) {
                margin-right: 30%;
                margin-left: 0;
            }

            &--right {
                @include media-breakpoint-up(md) {
                    text-align: right;
                    margin-left: 52%;
                    margin-right: 0;

                    @include media-breakpoint-up(lg) {
                        margin-left: 30%;
                        margin-right: 0;
                    }
                }
            }
        }
    }

    &__alternator-content {
        @include s-spacing(padding-top);
        background-color: $white;

        h3 {
            @include font-heading-small-devices-s-heading;
            line-height: 1.5em;
            /*@include lc-spacing(margin-bottom);*/
            margin-top: 0;

            @include media-breakpoint-up(md) {
                @include font-heading-xl-devices-s-heading;
            }
        }

        p {
            @include font-paragraph-small-devices-paragraph-text;

            @include media-breakpoint-up(md) {
                @include font-paragraph-xl-devices-paragraph-text;
            }

            &.lead {
                @extend p.lead;
            }
        }

        @include media-breakpoint-up(md) {
            margin-top: -120px;
            padding-bottom: 1.5rem;
            padding-right: 0;
            padding-top: 3rem;
            padding-left: 3rem;
        }

        @include media-breakpoint-up(lg) {
            //@include m-spacing(padding);
            margin-top: -160px;
            padding-bottom: 1.5rem;
            padding-right: 0;
            padding-top: 4.5rem;
            padding-left: 4.5rem;
        }

        @include media-breakpoint-up(xl) {
            padding-bottom: 1.5rem;
            padding-left: 4.5rem;
            padding-right: 4.5rem;
        }
    }

    &__align-right {
        .title,
        h2,
        h3,
        p.lead,
        p {
            @include media-breakpoint-up(md) {
                text-align: right;
            }
        }

        @include media-breakpoint-up(md) {
            //@include m-spacing(padding);
            @include m-spacing(padding-right);
            padding-left: 0;
        }

        @include media-breakpoint-up(lg) {
            //@include m-spacing(padding);
            margin-top: -160px;
            padding-bottom: 1.5rem;
            padding-left: 0;
            @include m-spacing(padding-right);
        }

        @include media-breakpoint-up(xl) {
            padding-left: 4.5rem;
        }
    }
}
